<div class="validation-options alert alert-info">
  <div class="row">
    <div class="col-md-12 validation-text">
      <p>{{ validation_message }}</p>
    </div>
    <div class="col-md-12">
      <a href="/validation/{{ film_id }}/success" class="btn btn-primary">{{ success_text }}</a>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          {{ issues_text }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for key, value in issues_list %}
            <li><a href="/validation/{{ film_id }}/status/{{ value['#id'] }}">{{ value['#name'] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <a href="/validation/{{ film_id }}/skip" class="btn btn-primary">{{ skip_text }}</a>
    </div>
  </div>
</div>
